.container {
  height: 188px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-right: 27px;
}

.menu {
  margin-left: 27px;
}

.avatar {
  margin-right: 8px;
  border-radius: 50%;
}
